/*

.tree-cell:collapsed .tree-disclosure-node  . {
    -fx-shape: null;
    -fx-background-color: null;
   // -fx-background-image: url("../folder.png");
}
.tree-cell:expanded .tree-disclosure-node  {
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("../folder.png");
}
*/
